.home {
  height: calc(100vh - 90px);
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* position: relative; */
}

.home__img--wrapper {
  height: 100%;
  width: 100vw;
  position: absolute;
  top: 0;
  overflow: hidden;
  z-index: -1;
}

.home__img {
  min-width: 100%;
  filter: brightness(0.1);
  opacity: 0.8;
  z-index: -1;
}

.home p,
.home h1 {
  padding: 12px 24px;
  opacity: 1;
  z-index: 2;
  color: white;
}

.home h1 {
  font-size: 48px;
}

.home p {
  font-size: 24px;
  margin-bottom: 36px;
}

.home .search-form {
  z-index: 2;
  margin-bottom: 160px;
}



.movie-form__btn {
  margin-left: 8px !important;
  height: 52px !important;
  border-radius: 8px !important;
  background-color: black !important;
  font-size: 24px !important;
  text-transform: capitalize !important;
}

.MuiSvgIcon-root {
  font-size: 32px !important;
}

@media (max-width: 458px) {
  .home h1 {
    font-size: 32px;
  }

  .home p {
    font-size: 20px;
  }
}