.movie-info {
  padding: 16px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.movie-info__body {
  display: flex;
  flex-direction: column;
}

.poster__img--wrapper {
  overflow-y: hidden;
  max-height: 400px;
  position: relative;
}


.movie-info__title{
  text-align: left;
  color: white;
  margin-top: 16px;
}

.movie-info__stats {
  display: flex;
}

.movie-info__description--container h4 {
  margin: 8px 0;
}

.movie-info__stats--descriptors {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.movie-info__stats--descriptors h5 {
  margin-top: 4px;
  margin-bottom: 4px;
  padding-left: 4px;
  padding-right: 8px;
  border-right: 1px solid gray;
}

.movie-info__stats--left {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding-right: 32px;
  margin-top: 12px;
}

.movie-info__stats--ratings {
  display: flex;
}

.movie-info__stats--rating {
  display: flex;
  align-items: center;
}

.movie-info__stats--rating h5{
  color: white;
}

.movie-info__stats--rating figure {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
}

.movie-info__stats--rating img {
  height: 100%;
}

.movie-info__stats--rating h5 {
  display: flex;
  justify-content: space-between;
  padding-right: 8px;
  padding-left: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 14px;
}

.year,
.rated,
.runtime {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: white;
  margin-right: 12px;
}

.rated {
  padding-left: 6px;
  padding-right: 6px;
  border: 1px solid #777777;
}

.movie-info__stats--right {
  width: 30%;
  margin-top: 12px;
}

.movie-info__stats--right p {
  text-align: left;
  color: white;
  font-size: 14px;
}

.movie-info__stats--right span {
  color: #777777;
  font-size: 14px;
}

.movie-info__tabs {
  padding-top: 8px;
  display: flex;
}

.movie-info__tabs button {
  border: none;
  font-size: 16px;
  padding: 8px 16px;
  margin-right: 2px;
  cursor: pointer;
  font-weight: 600;
  text-align: left;
}

.movie-info__tabs button:hover {
  filter: brightness(0.7);
}

.tab-selected {
  color: white;
  background-color: #576ca8;
  border-bottom: 2px solid #1b264f !important;
  outline: none !important;
  cursor: default !important;
  filter: brightness(1) !important;
}

.movie-info__description--overview {
  padding-top: 24px;
  text-align: left;
  color:white;
  font-size: 14px;
}

/* 

REVIEWS

*/

#reviews {
  color: white;
  
}

#reviews a {
  text-decoration: none;
}

#reviews a:visited {
  color: inherit ;
}

#reviews a:hover {
  text-decoration: underline;
}

/* 

SKELETON

*/

.movie-info__body--skeleton {
  display: flex;
  flex-direction: column;
  margin: 16px auto;
  width: 900px;

}

.movie-info__img--skeleton,
.movie__title--skeleton,
.movie__directed--skeleton,
.movie__stats--skelton,
.movie__text--skeleton,
.movie__stats--skeleton {
  background-color: lightgray;
  border: 1px solid lightgray;
  color: lightgray;
  margin: 8px;
}

.movie-info__img--skeleton {
  width: 300px;
  height: 450px;
}

.movie-info__description--skeleton {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.movie__title--skeleton {
  width: 60%;
}

.movie__directed--skeleton {
  width: 40%;
}

.movie__stats--skeleton {
  height: 60px;
}

.movie__text--skeleton {
  margin-top: 20px;
  height: 250px;
}

/* 

RESPONSIVENESS

*/

@media (max-width: 728px) {

  .movie-info {
    height: auto;
  }

  .movie-info__body {
    max-width: 800px;
    flex-direction: column;
  }

  .movie-info__body--skeleton {
    flex-direction: column;
  }
}


@media (max-width: 458px) {
  .movie-info__description--container {
    margin-left: 0;
  }
}

@keyframes fadeup {
  0% {display: none; transform: translateY(100px);}
  100% {display: block; transform: translateY(0px);}
}