#register-page {
    height: calc(100vh - 86px);
}

.background__img--wrapper {
    height: 100%;
    width: 100vw;
    position: absolute;
    top: 0;
    overflow: hidden;
    z-index: -1;
}

.background__img {
    min-width: 100%;
    filter: brightness(0.1);
    opacity: 0.8;
    z-index: -1;
}

.register-page__container {
    background-color: rgb(28, 28, 28, 0.7);
    width: 100%;
    max-width: 450px;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 68px 40px 68px;

}

.register-page__container p {
    margin-top: 16px;
    color: white;
    text-align: left;
}

.register-page__container h2 {
    color: white;
    text-align: left;
    font-size: 32px;
}

.register__form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 16px;
    max-width: 360px;

}

.register__form--label-input {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.form__input {
    font-size: medium;
    margin-bottom: 16px;
    border-radius: 4px;
    width: 100%;
    padding: 16px 16px 12px 16px;
    background-color: #595959;
    color: white;
}

.form__input:focus {
    outline: none;
}

.form__input::placeholder {
    color: white;
}



.register__form--label-input label {
    text-align: left;
}

.register-button {
    color: white !important;
    font-size: large !important;
    margin-top: 16px !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    background-color: red !important;
    font-weight: 700 !important;
    text-transform: capitalize !important;
    width: 100%;
}

.sign-in {
    color: darkgray !important;
}

.sign-in a {
    color: white;
    text-decoration: none;
}

.sign-in a:hover {
    text-decoration: underline;
}