.search {
  background-color: #fff7f1;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: calc(100vh - 86px);
}

.search__header {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  margin: 8px 0;
}

.search__header h2 {
  display: flex;
  align-items: center;
}

.search__header .MuiSvgIcon-root {
  margin-right: 8px;
}

.results__title {
  text-align: left;
}

.search__movie-form {
  display: flex;
  justify-content: center;
  padding-bottom: 32px;
}

.results {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



/* 

NO RESULTS

*/

.no-results {
  /* height: 80vh; */
  width: 100%;
}

.no-results__img--wrapper {
  margin: 40px auto 16px auto;
  max-width: 400px;
}

.no-results__img {
  width: 100%;
}

/* 

RESPONSIVENESS

*/

