.search {
  background-color: #fff7f1;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.search__header {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  margin: 8px 0;
}

.search__header h2 {
  display: flex;
  align-items: center;
}

.search__header .MuiSvgIcon-root {
  margin-right: 8px;
}

.results__title {
  text-align: left;
}

.search__movie-form {
  display: flex;
  justify-content: center;
  padding-bottom: 32px;
}

.results {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* 

SKELETON

*/

.result__img--skeleton,
.result__title--skeleton {
  background-color: lightgray;
  margin-top: 8px;
}
.results--skeleton {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff7f1;
  height: auto;
  justify-content: center;
}

.result-item--skeleton {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 450px;
  margin-right: 8px;
}
.result__img--skeleton {
  width: 100%;
  max-width: 300px;
  height: 80%;
}

.result__title--skeleton {
  width: 70%;
  height: 20px;
}

/* 

NO RESULTS

*/

.no-results {
  height: 80vh;
  width: 100%;
}

.no-results__img--wrapper {
  margin: 40px auto 16px auto;
  max-width: 400px;
}

.no-results__img {
  width: 100%;
}