.navbar {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  z-index: 10 !important;
  background-color: transparent;
}

.navbar__links {
  display: flex;
  align-items: center;
}

.navbar__logo {
  cursor: pointer;
  filter: invert(0.9);
}

.navbar__link {
  margin-right: 8px !important;
  color: white !important;
  text-transform: capitalize !important;
  font-size: 16px !important;
  font-weight: 600 !important;
}

.navbar__link--signup {
  background-color: red !important;
  font-weight: 600 !important;
  border-radius: 4px !important;
}

.burger-menu {
  display: none !important;
}

.burger-menu .MuiSvgIcon-root{
  color: white !important;
  position: absolute;
  right: 8px;
  top: 8px;
}


@media (max-width: 458px) {

  .navbar {
    flex-wrap: wrap;
  }

  .navbar__logo {
    width: 50%;
  }

  .burger-menu {
    flex: 1 ;
    width: 50%;
    display: block !important;
    margin-left: auto;
    flex-basis: 50%;
  }

  .navbar__links {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }

  .navbar__links--show {
    display: block !important;
  }
}

@keyframes fadeDown {

}