.result-item {
  width: 30%;
  margin: 12px;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.result-item:hover,
.result__img:hover {
  scale: 1.05;
}

.result-item,
.result__img {
  transition: scale 100ms ease;
}

.result__img--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  /* max-height: 27rem; */
  max-height: 450px;
}

.result__img {
  height: 100%;
  border-radius: 8px;
}

/* 

SKELETON

*/

.result__img--skeleton,
.result__title--skeleton {
  background-color: lightgray;
  margin-top: 8px;
}

.results--skeleton {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff7f1;
  height: 100vh;
  justify-content: center;
}

.result-item--skeleton {
  display: flex;
  flex-direction: column;
  width: 30%;
  max-height: 450px;
  margin-right: 8px;
}
.result__img--skeleton {
  width: 100%;
  max-width: 300px;
  height: 80%;
}

.result__title--skeleton {
  width: 70%;
  height: 20px;
}

/* 

RESPONSIVENESS

*/

@media (max-width: 728px) {
  .result__img--wrapper {
    max-height: 300px;
  }

  .result-item {
    width: 25%;
  }

}

@media (max-width: 458px) {
  .result-item {
    width: 80%;
  }

  .results--skeleton {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height: auto;
  }
  
  .result-item--skeleton {
    height: 450px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .result__img--skeleton,
  .result__title--skeleton {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .result__img--skeleton {
    height: 300px;
  }
  
}
