.reviews {
  margin-top: 64px;
}

.reviews-section {
  max-height: 500px;
  overflow-y: scroll;
}

.reviews-section::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.no-reviews{
  margin-top: 24px;
}

/* 

CREATE A REVIEW

*/

.create-review__logged-out {
  margin: 16px;
}

.new-review {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 8px;
  margin-left: 60px;
  margin-right: 60px;
  padding: 8px;
  border: 1px solid #777;
  border-radius: 4px;
}

.new-review span {
  margin-bottom: 8px;
}

.rating-label {
  margin-right: 8px;
}

.title-review {
  margin-bottom: 8px;
  width: 100% !important;
}

.title-review, .description-review {
  width: 90%;
}

.title-review, .rating-review {
  font-size: 14px;
  padding: 8px !important;
  border-radius: 4px !important;
  border: 1px solid transparent;
  outline: none;
}

.description-review {
  resize: none;
  outline: none;
  border: solid 1px transparent;
  padding: 8px;
  border-radius: 4px;
  width: 100%;
}

.reviews--heading {
  text-align: left;
}

.new-review .MuiButtonBase-root {
  color: white;
  text-transform: capitalize;
  background-color: red;
  margin-top: 8px;
}